@model ProfileMainModel
@using E_Diary.WEB.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row m-0 d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full bg-primary bg-opacity-10">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 text-dark user-profile">
                            <div class="card-block text-center">
                                <div class="m-b-25">
                                    @if (Model.Gender == E_Diary.WEB.Data.Enums.Gender.Female)
                                    {
                                        <img class="rounded-circle bg-primary bg-opacity-25" src="~/src/images/female-user.png" class="img-radius" alt="User-Profile-Image">
                                    }
                                    else
                                    {
                                        <img class="rounded-circle bg-primary bg-opacity-25" src="~/src/images/male-user.png" class="img-radius" alt="User-Profile-Image">
                                    }
                                </div>
                                <h6 class="mt-2 f-w-600">@Model.Surname @Model.Name @Model.Patronymic</h6>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Информация</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Электронная почта</p>
                                        <h6 class="text-muted f-w-400">@Model.Email</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Пол</p>
                                        <h6 class="text-muted f-w-400">@(Model.Gender == E_Diary.WEB.Data.Enums.Gender.Male ? "Мужской" : "Женский")</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        
                                    </div>
                                    <div class="col-sm-6">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>