@model ProfileMainModel
@using E_Diary.WEB.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

<form asp-action="Profile" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation alert-danger" asp-validation-summary="All"></div>
    <div>
        <div class="form-group">
            <h2 class="card-title">
                Персональные данные
            </h2>
            <div class="input-group" style="justify-content:space-between">
                <label for="lastname" class="form-label">
                    Фамилия
                </label>
                <div class="form-control">
                    <input type="text" name="Surname" id="Surname" value="@Model.Surname" class="field field--fill" autocomplete="off" x-autocomplete="off" disabled = "disabled">
                </div>
            </div>
            <div class="input-group">
                <label for="Name" class="form-label">
                    Имя
                </label>
                <div class="form-control">
                    <input type="text" name="Name" id="Name" value="@Model.Name" class="field field--fill" autocomplete="off" x-autocomplete="off" disabled="disabled">
                </div>
            </div>
            <div class="input-group">
                <label for="Patronymic" class="form-label">
                    Отчество
                </label>
                <div class="form-control">
                    <input type="text" name="Patronymic" id="Patronymic" value="@Model.Patronymic" class="field field--fill" autocomplete="off" x-autocomplete="off" disabled="disabled">
                </div>
            </div>
            <div class="ej-form-group">
                <label for="sex" class="ej-form-label">
                    Пол
                </label>
                <div class="ej-form-control">
                    <div class="control-radios" style="display: block">
                        @if(Model.Gender == E_Diary.WEB.Data.Enums.Gender.Female)
                        {
                            <label class="control-radio" tabindex="-1" style="--actor-color: #e377c2;">
                                <input type="radio" name="sex" value="@Model.Gender" disabled="" checked="checked">
                                <span class="control-radio__icon"></span>
                                <span class="control-radio__label">женский</span>
                            </label>
                            <label class="control-radio" tabindex="-1" style="--actor-color: #1f77b4;">
                                <input type="radio" name="sex" value="@Model.Gender" disabled="">
                                <span class="control-radio__icon"></span>
                                <span class="control-radio__label">мужской</span>
                            </label>
                        }
                        else
                        {
                            <label class="control-radio" tabindex="-1" style="--actor-color: #e377c2;">
                                <input type="radio" name="sex" value="@Model.Gender" disabled="">
                                <span class="control-radio__icon"></span>
                                <span class="control-radio__label">женский</span>
                            </label>
                            <label class="control-radio" tabindex="-1" style="--actor-color: #1f77b4;">
                                <input type="radio" name="sex" value="@Model.Gender" disabled="" checked="checked">
                                <span class="control-radio__icon"></span>
                                <span class="control-radio__label">мужской</span>
                            </label>
                        }
                    </div>

                </div>
            </div>
            <div class="footer">
                <input type="submit" name="submit_button" value="Сохранить" class="btn-success" id="submit_button">
            </div>
        </div>
    </div>
</form>