@using E_Diary.WEB.Data
@using E_Diary.WEB.Data.Entities
@model IEnumerable<E_Diary.WEB.Data.Entities.StudyYear>
@inject ASPIdentityDBContext context
@{
    ViewData["Title"] = "Index";
}

<h1>Аттестационные периоды</h1>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1 flex-row">
        <li class="me-2">
            <a asp-controller="Main" asp-action="Index" class="btn btn-secondary rounded-1">Назад</a>
        </li>
        <li class="me-2">
            <a asp-action="Create" class="btn btn-success rounded-1">Добавить</a>
        </li>
    </ul>
</div>
<div class="container">
    @foreach(StudyYear year in Model.OrderByDescending(x => x.End))
    {
        <div class="row">
            <h2>Учебный год</h2>
            <div class="d-flex">
            <span class="flex-grow-1 align-content-center">@year.Start - @year.End</span>
                <div>
                    <a asp-action="Edit" asp-route-id="@year.Id" class="ms-1 btn btn-mark bg-opacity-75"><img src="~/src/images/edit.svg" width="25px" height="25px" /></a>
                </div>
                <div>
                    <form asp-action="Delete" asp-route-id="@year.Id" method="post" onsubmit="return confirm('Вы уверены что хотите удалить учебный год?');">
                        <button class="ms-1 btn bg-danger bg-opacity-75" type="submit"><img src="~/src/images/trash.svg" width="25px" height="25px" /></button>
                    </form>
                </div>
            </div>
            <div class="container ps-4">
                    <h5>Аттестационные периоды</h5>
                <a asp-action="CreateCertificationPeriod" asp-route-yearId="@year.Id" class="btn btn-sm btn-outline-info">Добавить</a>
                @foreach(CertificationPeriod period in context.CertificationPeriods.Where(p => p.StudyYear.Id == year.Id).OrderBy(p => p.End))
                {
                    <div class="row d-flex flex-row">
                        <div class="col-md-2"></div>
                        <span class="align-content-center">@period.Name</span>
                        <div class="d-flex">
                        <span class="ms-2 flex-grow-1 align-content-center">@period.Start - @period.End</span>
                        <div>
                            <a asp-action="EditCertificationPeriod" asp-route-id="@period.Id" class="ms-1 btn btn-mark bg-opacity-75"><img src="~/src/images/edit.svg" width="25px" height="25px" /></a>
                        </div>
                        <div>
                            <form asp-action="DeleteCertificationPeriod" asp-route-id="@period.Id" method="post" onsubmit="return confirm('Вы уверены что хотите удалить учебный год?');">
                                <button class="ms-1 btn bg-danger bg-opacity-75" type="submit"><img src="~/src/images/trash.svg" width="25px" height="25px" /></button>
                            </form>
                        </div>
                        </div>
                    </div>
                    <hr>
                }
                </div>
            </div>
    }
</div>
