@using E_Diary.WEB.Data.Entities
@model E_Diary.WEB.Models.TeacherGroupSubjectViewModel
@inject E_Diary.WEB.Data.ASPIdentityDBContext context
@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>

<h4>Предмет, назначенный классу и учителю</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                <select asp-for="TeacherId" class="form-control selectpicker" data-live-search="true" required>
                    @foreach (Teacher teacher in context.Teachers)
                    {
                        <option data-tokens="@teacher.User.Surname @teacher.User.Name @teacher.User.Patronymic" value="@teacher.Id">
                            @teacher.User.Surname @teacher.User.Name @teacher.User.Patronymic
                        </option>
                    }
                </select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class="form-control selectpicker" data-live-search="true" required>
                    @foreach (Group group in context.Groups)
                    {
                        <option data-tokens="@group.Year@group.Literal" value="@group.Id">@group.Year@group.Literal</option>
                    }
                </select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control selectpicker" data-live-search="true" required>
                    @foreach (Subject subject in context.Subjects)
                    {
                        <option data-tokens="@subject.Name" value="@subject.Id">@subject.Name</option>
                    }
                </select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 mb-3">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button type="button" class="btn btn-secondary rounded-1">Вернуться к списку</button></a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
