@using E_Diary.WEB.Helpers
@model PaginatedList<E_Diary.WEB.Data.Entities.TeacherGroupSubject>


@{
    ViewData["Title"] = "Index";
}

<h1>Список предметов, назначенных классам и учителям</h1>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1 flex-row">
        <li class="me-2">
            <a asp-controller="Main" asp-action="Index" class="btn btn-secondary rounded-1">Назад</a>
        </li>
        <li class="me-2">
            <a asp-action="Create" class="btn btn-success rounded-1">Добавить</a>
        </li>
    </ul>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Учитель</th>
            <th>Класс</th>
            <th>Предмет</th>
            <th>Учебный год</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Teacher.User.Surname @item.Teacher.User.Name @item.Teacher.User.Patronymic
                </td>
                <td>
                    @item.Group.Year@item.Group.Literal
                </td>
                <td>
                    @item.Subject.Name
                </td>
                <td>
                    @item.StudyYear.Start - @item.StudyYear.End г.
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary rounded-1" asp-route-id=@item.Id>Редактировать</a>
                    <a asp-action="Delete" class="btn btn-danger rounded-1" asp-route-id=@item.Id>Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Назад
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Далее
</a>