@using E_Diary.WEB.Areas.Manage.Models
@using E_Diary.WEB.Data
@using E_Diary.WEB.Data.Entities
@inject ASPIdentityDBContext context
@model GroupViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>

<h4>Класс</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if(ViewBag.Error != null)
        {
            <p class="text-danger">@ViewBag.Error</p>
        }
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" min="1" max="11" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Literal" class="control-label"></label>
                <input asp-for="Literal" class="form-control" />
                <span asp-validation-for="Literal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassroomTeacherId" class="control-label"></label>
                <select asp-for="ClassroomTeacherId" class="form-select" data-live-search="true" required>
                    @foreach (Teacher teacher in context.Teachers)
                    {
                        <option data-tokens="@teacher.User.Surname @teacher.User.Name @teacher.User.Patronymic" value="@teacher.Id">@teacher.User.Surname @teacher.User.Name @teacher.User.Patronymic</option>
                    }
                </select>
                <span asp-validation-for="ClassroomTeacherId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 mb-3">
                <input type="submit" value="Добавить" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button type="button" class="btn btn-secondary rounded-1">Вернуться к списку</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
