@model E_Diary.WEB.Data.Entities.Teacher

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h5 class="text-danger">Вы уверены?</h5>
<div>
    <h4>Учитель</h4>
    <hr />
    <div>
        <dl class="row">
            <dt>
                @Html.DisplayNameFor(model => model.User.Name)
            <dd>
                    @Html.DisplayFor(model => model.User.Name)
            </dd>
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.User.Surname)
            <dd>
                    @Html.DisplayFor(model => model.User.Surname)
            </dd>
            </dt>
            @if (Model.User.Patronymic != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.User.Name)
                <dd>
                        @Html.DisplayFor(model => model.User.Name)
                </dd>
                </dt>
            }
            <dt>
                @Html.DisplayNameFor(model => model.User.Gender)
            <dd>
                    @if (Model.User.Gender == E_Diary.WEB.Data.Enums.Gender.Female)
                    {
                    <p>Женский</p>
                    }
                    else
                    {
                    <p>Мужской</p>
                    }
            </dd>
            </dt>
        </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary rounded-1">Вернуться к списку</a>
    </form>
</div>
